modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Auto Filter Bot"

[[workflows.workflow]]
name = "Telegram Auto Filter Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python telegram-auto-filter-bot/main.py"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
API_ID = "8144221"
DB_CHANNEL_ID = "-1003943195031"

[nix]
channel = "stable-25_05"
